* {
  border: none;
  border-radius: 0;
  font-family: Mononoki Nerd Font;
  font-size: 18px;
  background-color: transparent;
}

#clock {
  background-color: #b5e7ff;
  color: #fface9;
  font-weight: 900;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


